body{
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
  padding: 20px;
  background-color: #ffd900;
}
#sec1{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  text-align: center;

}
#promo{
  background-color: #514988;
  text-align: center;
  padding: 50px;
}
#title{
  font-size: 60px;
  color: #ffd900;
  margin-top: 25px;
  margin-bottom: 25px;
}
#date{
  color: white;
  margin-top: 10px;
  font-size: 23px;
}
#textTitle{
  color: white;
  font-size: 20px;
}
#CountDown{
  display: grid;
  grid-auto-flow: column;
  padding-top: 10px;
}
#texto{
  color: #E33881;
  font-size: 23px;
  text-align: center;
}
#video{
  padding: 20px;
  height: 10px;
}
#sec2{ 
  display: grid;
  grid-auto-flow: column;
  background-color: white;
  padding-bottom: 150px;
}
#subTitle{
  color: #FFD900;
  padding-left: 60px;
  margin: 20px;
  font-size: 23px;
}
#ingressos{
  margin-left: 80px;
}
button{
  margin-top: 100px;
  margin-left: -160px;
  font-size: 40px;
  border-radius: 15px;
  height: 110px;
  width: 400px;
  color: white;
  border: none;
  background-color: #514988;
  
}
button:hover{
  cursor: pointer;
  color: #f3c61f;
}
